*{
    margin: 0;
    padding: 0;
    Box-sizing:border-box;
}
.testata{
    background-color: rgb(0, 174, 255);
    background-image: url(img/pattern.png);
    background-size: contain;
}
#logo{
    margin-left: 7%;
    margin-top: 3%;
    width: 15%;  
}
main{
    margin-left: 7%;
    margin-top: 1%;
}
.autore{
    color: gray;
    font-weight: bold;
}
#data{
    color: gray;
}