*{
    margin: 0;
    padding: 0;
    Box-sizing:border-box;
}
header{
    background-color: rgb(0, 174, 255);
    background-image: url(img/pattern.png);
    background-size: contain;
    height: 130px;
}
#logo{
    margin-left: 7%;
    margin-top: 2%;
    width: 15%;  
}
main, footer{
    margin: auto;
    width: 50%;
    text-align: left;
}
section{
    padding-top: 20px;
}
.autore{
    color: gray;
    font-weight: bold;
}
#data{
    color: gray;
}
.img{
    width: 49%;
    height: 300px;
}
.foto{
    font-size: 10px;
}
ul{
    margin-left: 1%;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.riga-blu{
    background-color: aqua;
}
table th {
    background-color: #31a2be;
    color: #FFFFFF;
    font-weight: bold;
}
footer{
    margin-top: 30px;
}
.imgfinal{
    width: 300px;
    height: 200px;
    margin-top: 5px;
    color: white;
}
#grafico{
    background-image: url(img/graph.jpg);

}
#monitor{
    background-image: url(img/monitor.jpg);
}